@model HotelWebApp.Models.Menu

@{
    ViewData["Title"] = "MenuDetails";
}

<h1>MenuDetails</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditMenu", new {  id = Model.Menu_ID }) |
    <a asp-action="GetMyMenus">Back to List</a>
</div>
